.cadastroBotao{
    margin: 50px;
    width: 20%;
    background-color: #FF6B35;
    color: #fff;
    font-family: "Barlow";
    padding: 10px;
    border-radius: 30px;
}

.cadastroBotao:hover{
    background-color: #f85114;
}

.cadastroCheckBoxTitulo{
    font-family: 'Barlow';
}

@media(max-width: 800px) {

    .cadastroBotao{
        width: 40%
    }
}